.ant-carousel .slick-slide {
  text-align: center;
  height: 80px;
  line-height: 80px;
  background: #F5F5F5;
  overflow: hidden;
}

.ant-carousel .slick-dots li.slick-active button{
  background: #28ABE0 !important;
}


.ant-carousel .slick-dots li button{
  background:black !important;
}

.ant-carousel .slick-slide h3 {
  color: #28ABE0;
}


.caption{
  height: 36px;
  margin:20px 0px;
}

.caption-text{
  text-align: center;
  padding-top: 9px;
  height: 36px;
  background: white
}

.caption-bar{
  width: 3px;
  height: 36px;
  float: left;
  margin-bottom: 20px;
}
.caption-text-selected{
  font-weight: bolder;
}

.bar-caption-selected{
  background: #0CAADC;
}

.body{
  background:#F5F5F5;
  overflow: auto;
  overflow-y:scroll;
  height: 266px;
  overflow: hidden;
}

.selected-theme{
  background: #CFD2D4 !important;
  border-color: #CFD2D4 !important; 
  color: black !important;
  margin-right: 40px; 
}


.theme{
  background:#F5F5F5 !important; 
  border-color: #F5F5F5 !important;
  color: black !important;
  margin: 0px 40px;
}


.separator-bar{
  width: 2px;
  height: 25px;
  display: 'inline-block';
  background: #28ABE0;
  position: absolute;
  margin-top: 27px;
}

.side-button{
  background: #F5F5F5 !important; 
  border-color: #F5F5F5 !important;
  color: #28ABE0 !important;
  padding: 0px 12px !important;
}

.title{
  margin-bottom: 20px !important;
  font-weight: bolder !important; 
  border-bottom: 3px solid #28ABE0 !important;
  padding-bottom: 3px !important; 
}
